<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<!-- codepage,65001:utf8, 932:shift_jis, 28591:iso8859-1; 1252:ansi latin1   LCID 1041:ja, 1033:en-us -->
<!-- major upgrade :change ProductCode(id=*),ProductVesion,PackageCode(bypass Id) -->
<!-- Upgrade,UpgradeVersion is effenctive ony for Major upgrade; prev version will be uninstalled by major upgrade-->
<!--  When versionup  change version = upgradeversion max of PREV = min of NEWER --> 
    <Product Id="*" Name="sampleVBOCR" Language="1033" Version="1.0.6" Manufacturer="sakachin2"
		 UpgradeCode="5DFB9A2C-9768-42E2-A3FF-512821010F62">
        	<!-- set minimum=current version(include=no) : newer than current version will be reject(OnlyDetect=Yes) -->
        	<!-- set maximum=current version(include=no) : older than current version will be removed(OnlyDetect=no) -->
        <Package Description="Extract text in image file" Comments="OCR tool sampleVBOCR installer"
			Id="*"
			InstallerVersion="200" Compressed="yes"
		/>
<!--       cause duplicate err of removeexistingproduct
        <MajorUpgrade 
		    Schedule="afterInstallInitialize"
		    AllowDowngrades="no" DowngradeErrorMessage="Error:Version downgrading"
		/>
-->
        <Upgrade Id="5DFB9A2C-9768-42E2-A3FF-512821010F62">
            <UpgradeVersion OnlyDetect="yes" Property="NEWERFOUND"
				 Minimum="1.0.6" IncludeMinimum="no" />
        	<UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
            	Minimum="1.0.0" IncludeMinimum="yes"
            	Maximum="1.0.6" IncludeMaximum="no"
            />
        </Upgrade>
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <!--  name:install foldername -->
                <Directory Id="VBOCR" Name="sampleVBOCR">
                    <Component Id="VBOCR.EXE" DiskId="1" Guid="CD3DB34A-35BC-45A4-A023-1CBE2A1A6D14">
                        <File Id="VBOCR.EXE" Name="VBOCR.exe" Source="W:\MSVS2017CProjects\VBOCR\VBOCR\bin\Release\sampleVBOCR.exe" />
                    </Component>
                    <Component Id="VBOCR.EXE.CONFIG" DiskId="1" Guid="2D3028BD-F7DE-4440-977C-B6A5EF068A81">
                        <File Id="VBOCR.EXE.CONFIG" Name="VBOCR.exe.config" Source="W:\MSVS2017CProjects\VBOCR\VBOCR\bin\Release\sampleVBOCR.exe.config" />
                    </Component>
                    <Component Id="VBOCR.XML" DiskId="1" Guid="192C8444-8CAC-4B7F-A227-68232653F5C2">
                        <File Id="VBOCR.XML" Name="VBOCR.xml" Source="W:\MSVS2017CProjects\VBOCR\VBOCR\bin\Release\sampleVBOCR.xml" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="StartMenu" />
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop">
            </Directory>
        </Directory>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="sampleVBOCR" Description="Tool of text extracting from image file using Windows10 OCR Library" Target="[VBOCR]VBOCR.exe" Icon="ICON.EXE" WorkingDirectory="VBOCR" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\Microsoft\sakachin2VBOCR" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DesktopFolder">
            <Component Id="ApplicationShortcutDesktop" Guid="*">
                <Shortcut Id="ApplicationDesktopShortcut" Name="sampleVBOCR" Description="Tool of text extracting from image file using Windows10 OCR Library" Target="[VBOCR]VBOCR.exe" Icon="ICON.EXE" WorkingDirectory="VBOCR" />
                <RemoveFolder Id="ApplicationDesktopFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\Microsoft\sakachin2VBOCRDesktop" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="VBOCR.EXE" />
            <ComponentRef Id="VBOCR.EXE.CONFIG" />
            <ComponentRef Id="VBOCR.XML" />
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="ApplicationShortcutDesktop" />
        </Feature>
        <UI>
          <Dialog Id="NewerFoundDlg" Width="270" Height="105"
                  Title="[ProductName] Setup" NoMinimize="yes">
            <Control Id="MessageText" Type="Text"
                     X="48" Y="15" Width="205" Height="60" TabSkip="no"
                     Text="[ProductName]: Newer than this version([ProductVersion])  is already installed." />
            <Control Id="Y" Type="PushButton"
                     X="200" Y="80" Width="56" Height="17" TabSkip="yes"
                     Text="!(loc.WixUIOK)">
              <Publish Event="EndDialog" Value="Return">1</Publish>
            </Control>

            <Control Id="NewerFoundDlgIcon"
                     Type="Icon" X="15" Y="15" Width="24" Height="24"
                     ToolTip="!(loc.ErrorDlgErrorIconTooltip)" FixedSize="yes" IconSize="32"
                     Text="!(loc.ErrorDlgErrorIcon)" />
          </Dialog>
        </UI>
        <UIRef Id="WixUI_InstallDir" />
        <!--  value: id ofDirectory Entry to be installer(Line.9)  -->
        <Property Id="WIXUI_INSTALLDIR" Value="VBOCR" />
        <Property Id="ARPCOMMENTS" Value="Tool of text extracting from image file using Windows10 OCR Library" />
        <WixVariable Id="WixUILicenseRtf" Value="license-mit.rtf" />
        <Property Id="ARPPRODUCTICON" Value="ICON.EXE" />
        <Icon Id="ICON.EXE" SourceFile="..\VBOCR\icons\Icon-sampleVBOCR128.ico" />

        <CustomActionRef Id="WixExitEarlyWithSuccess" />
        <!-- WixUtilExtension required. on cmdline -ext option -->
        <InstallUISequence>
            <Show Dialog="NewerFoundDlg" After="FindRelatedProducts">NEWERFOUND</Show>
            <Custom Action="WixExitEarlyWithSuccess" After="NewerFoundDlg">NEWERFOUND</Custom>
        </InstallUISequence>
        <InstallExecuteSequence>
            <Custom Action="WixExitEarlyWithSuccess" After="FindRelatedProducts">NEWERFOUND</Custom>
            <RemoveExistingProducts After="InstallFinalize" />
        </InstallExecuteSequence>
    </Product>
</Wix>